


.blogbox {
    margin: auto;
    padding: 1rem;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.bloxbox_story {
    display: flex;
    flex-basis: min-content;
    justify-content: flex-start;
}

.blogbox_story__img {
    max-width: 360px;
}

