


.blogbox {
    margin: auto;
    padding: 1rem;
    max-width: 95%;
    display: flex;
    justify-content: center;
}

.blogbox_story {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
}

.blogbox_story__img {
    width: 360px;
    height: 260px;
    object-fit: cover;
}