/* Document-wide elements */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: #D8F2B8;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: #42493A;
}

h2, h4 {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h4 { 
    font-size: 1.75rem;
}

/* Header-level elements and logo */

header {
    display: flex;
    padding: 2%;
}

.logo  {
    text-transform: uppercase;
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    display: flex;
    width: 35%;
}

.logo a {
    display: block;
}

.logo__dj {
    font-size: 8.5rem;
    writing-mode: sideways-lr;
    text-align: bottom;
    line-height: 7rem;
}

.logo_rows {
    display: flex;
}

.logo__eye {
    font-size: 5rem;
    max-height: 5rem;
}

.logo__drops {
    font-size: 3.4rem;
    line-height: 3.75rem;
}

.navwrapper {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    font-size: 3rem;
    padding-left: 9%;
    display: inline;
}

header a {
    text-decoration: none;
    color: #42493A;
    transition: color 1s, width 2s;
}

.social_icons {
    display: inline;
    max-width: 40%;
}

i {
    font-size: 2rem;
    padding-left: 3%;
    text-align: center;
}

a:hover {
    color: #74DCEE;
}

/* Footer */

