/* Document-wide elements */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: #D8F2B8;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: #42493A;
}

h2, h4 {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    text-transform: uppercase;
}

h2 {
}

h3 {
    font-size: 2rem;
}

h4 { 
    font-size: 1.75rem;
}

header, footer {
    background-color: #C9E8B5;
    display: flex;
}

header {
    position: sticky;
}

/* I will add keyframes to this to make the transition more smooth. As well as
keyframes to logo with different transition colors. */

header a, footer a {
    text-decoration: none;
    color: #42493A;
    transition: color 1s, width 2s;
}

main {
    padding: 3rem 0rem 3rem 0rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

a:hover {
    color: #74DCEE;
}

    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #C9E8B5;
    width: 100%;
}

.page_section_title {
    text-align: center;
    width: 100%;
}

button {
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 2rem;
    border: 3px solid #42493A;
    background-color: #C9E8B5;
    color: #42493A;
    text-transform: uppercase;
    font-family: "Londrina Solid", sans-serif;
}

button a {
    text-decoration: none;
}


.social_icons {
    display: inline;
    width: 50%;
}

i {
    font-size: 2rem;
    padding-left: 3%;
    text-align: center;
}

/* Logo - I know the logo is broken on chrome - I'm working on it */

.logo  {
    text-transform: uppercase;
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    display: flex;
    width: 35%;
}

.logo a {
    display: block;
}

.logo__dj {
    font-size: 8.5rem;
    writing-mode: sideways-lr;
    text-align: bottom;
    line-height: 6.4rem;
}

.logo_rows {
    display: flex;
}

.logo__eye {
    font-size: 5.6rem;
    max-height: 5rem;
}

.logo__drops {
    font-size: 3.4rem;
    line-height: 3.5rem;
}

/* Navbar */

.navwrapper {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    font-size: 3rem;
    padding-left: 9%;
    display: inline;
}


/* Footer */

footer {
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-bottom: 5%;
    width:100%;

}

.spacer {
    background-color: #D8F2B8;
    width: 100%;
    flex-shrink: 0;
}

/* the divider has an inner shadow on both FF and Chrome and I don't
know how to get rid of it - any ideas? */

.divider {
    border-top: .3rem solid #000;
    width: 90%;
}

.social_icons__footer {
    padding: 3%;
}

.copyright {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    text-align: right;
    padding-right: 5%;
}




.gallery{
    width: 100vw;
    height: 85px;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 85px;
    color: #42493A;
    text-align: center;
}



.pic_wrapper{
    
    background-color: #C9E8B5;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


    


.pic1_gallery{
    height: 325px;
    width:1110px ;
    background-image: url(/images/img_gallery/pic8.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}
.biography_gallery{
    width: 100vw;
    height: 85px;
    text-align: center;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #42493A;
    margin-bottom: 40px;
    

}

.wrapper_bio_text{
   
    width:100vw ;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.bio_text{
    width: 1300px;
    height: 700px;
    text-align: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
    color: #42493A;
}

.photos_gallery{
    width: 100vw;
    height: 65px;
    text-align: center;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px; 
    color: #42493A;
    margin-bottom: 40px;
}

.grid_gallery{
    grid-template-columns:repeat(12, 1fr) ;
    grid-template-rows:repeat(12, 1fr) ;
    width: 1110px;
    height: 800px;
    display: grid;
    grid-gap: 3px;
}
.grid_wrapper{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 800px;
    margin-bottom: 50px;
}
.pic_1{
    border: 3px solid black;
    grid-column: 1/5;
    grid-row: 1/7;
    background-image: url(/images/img_gallery/pc1.jpg);
}
.pic_2{
    grid-column: 5/9;
    grid-row: 1/13;
    background-image: url(/images/img_gallery/pic2.jpg);
    border: 3px solid black;

}
.pic_3{
    background-image:url(/images/img_gallery/pic4.jpg) ;
    grid-column:9/13 ;
    grid-row:1/7 ;
    border: 3px solid black;
}

.pic_4{
    background-image:url(/images/img_gallery/pic7.jpg) ;
    grid-column:1/5 ;
    grid-row:7/13 ;
    border: 3px solid black;
}
.pic_5{
    background-image: url(/images/img_gallery/pic6.jpg);
    grid-column:9/13 ;
    grid-row:7/13 ;
    border: 3px solid black;
}
.flexbox{
    width: 100vw;
    height: 100px;
    
    display: flex;
    justify-content: center;

}
.booking{
    width: 265px;
    height: 100px;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 85px;
    color: #42493A;
    
}

.wrapform_1{
    display:flex;
    width: 100vw;
    justify-content: center
}


.wrapform_2{
    display:flex;
    width: 100vw;
    justify-content: center; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.label{
    color: #42493A;
   font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #42493A; 
}

.btn, .input{
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #42493A;
}

#message{
     font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #42493A;
}

.Theform{
   
    
    
}

.btn{
    border-radius: 4px;
    color: #42493A;
    cursor: pointer;
    width: 175px;
    height: 100px;
    font-size: 36px
    
   
}


.label, #Name, #Email, #message{
    cursor:pointer;
}