/* Document-wide elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    max-width: 95%;
    background-color: #D8F2B8;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: #42493A;

}

h2, h4 {
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    text-transform: uppercase;
}

/* Header-level elements */

header {
    display: flex;
    justify-content: space-evenly;
}

.push {
    width: 100%;
}

.logo, nav  {
    text-transform: uppercase;
    font-family: "Londrina Solid", "Arial Black", sans-serif;
    display: flex;
}

.logo a {
    display: block;
    text-decoration: none;
}

.logo__dj {
    font-size: 9.5rem;
    writing-mode: sideways-lr;
    text-align: bottom;
    line-height: 7rem;
}

.logo_rows {
    display: flex;
    align-items: space-evenly;
}

.logo__eye {
    font-size: 7rem;
    max-height: 6.5rem;
}

.logo__drops {
    font-size: 3.9rem;
    line-height: 3.75rem;
}

nav {    
    width: 100%;
    display: inline;
    padding-top: 3%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-size: 3rem;
    text-transform: capitalize;
    padding-left: 3%;
}

a {
    text-decoration: none;
    color: #42493A;
    transition: color 1s, width 2s;
}

a:hover {
    color: #74DCEE;

}